*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    font-family: 'Noto Sans JP', sans-serif;
}

.along{
    overflow-x: hidden;
}
:root{
    --first-color:#4F51FF;
    --second-color:#71A4B3;
    --third-color: #ECB442;
    --fourth--color: #D5DFDE;
    --Fifth-color: #CACAFF;
    --sixth-color:#303030;
    --color-white:#f6f6f6;
    --color-black:#161616;
    --font-size:5.653rem;
    --secfont-size:3.998rem;
    --thfont-size:2.327rem;
    --frfont-size:1.999rem;
    --fffont-size:1.414rem;
}

header{
    position: relative;
    background: 
    linear-gradient(
      rgba(79, 82, 255, 0.70),
      rgba(79, 82, 255, 0.70),
    ),
    url(../imagenes/pexels-lukas-590041.jpg);
    background-size: cover;
    background-position: center;
    height: 110dvh;

    .logo{
        display: flex;
        justify-content: space-between;
        background-color: var(--first-color);
        align-items: center;
        width: 100dvw;
        padding: 1.3rem;
        position: fixed;
        top:0%;
        right: 0;

        div{
            display: flex;
            align-items: center;
            position: sticky;

            li{
                margin-left: 2rem;
            }
        }

        li > a{
            color: var(--color-white);
        }
    }

    .title{
        display: grid;
        grid-template-columns: minmax(280px, 1fr);
        align-content: center;
        margin: 1rem;
        padding: 1.3rem;
        height: 85dvh;

        div{
            height: auto;
            h1{
                font-weight: bolder;
                font-size: var(--secfont-size);
                border-bottom: 3px solid black ;
            }
            p{
                font-size: var(--fffont-size);
                margin-top: 2rem;   
            }
        }
    }
}



aside{
    background-color: var(--color-white);
    height: 180dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1{
        margin: 1rem;
        padding: 1rem;
        font-size: var(--fffont-size);
    }
    #contenedor{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-template-rows: 250px;
        align-content: center;
        text-align: center;
        gap: 1rem;
        font-size: 1rem;
    }
    .asideContenedores{
        border-radius: 1rem;
        margin: 1rem;
    }
    .asideContenedores > p{
        text-align: left;
        padding: 1rem;
    }
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 150dvh;
    background-color: var(--color-white);

    div:first-child{
        margin: 1rem;
        padding: 1rem;
        min-width: 300px;
        font-size: var(--fffont-size);
    }
    div:nth-child(2){
        display: flex;
        text-align: start;
        font-size: var(--thfont-size);
        background-color: var(--second-color);
        border-radius: 1rem;
        margin: 1rem;
        padding: 1rem;
        min-width: 300px;
        height: auto;
    }

    p > span{
        color: var(--color-white);
        font-size: var(--thfont-size);
    }

}

footer{
    background: 
    linear-gradient(
      rgba(69, 69, 71, 0.7),
      rgba(69, 69, 71, 0.7),
    ),
    url(../imagenes/pexels-pixabay-416320.jpg);
    background-size: cover;
    background-position: center;
    height: 100dvh;

    .contenedor{
       display: grid;
       grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        height: 100dvh;

        h1{
            margin: 1rem;
            padding: 1rem;
        }
    }
    div:nth-child(2){
        display: flex;
        justify-content: center;
        align-items: center;
        
    form {
        margin: 1rem;
      min-width: 300px;  
      padding: 20px;
      border: 2px solid #ccc;
      border-radius: 10px;
      background-color: var(--Fifth-color);
    }

    label {
      display: block;
      font-weight: bold;
      margin-bottom: 5px;
    }

    input[type="text"],
    input[type="email"],
    textarea {
      padding: 10px;
      border-radius: 5px;
      border: 1px solid #ccc;
      margin-bottom: 15px;
      width: 100%;
      box-sizing: border-box;
      font-size: 16px;
    }

    textarea {
      height: 8rem;
    }

    input[type="submit"] {
      background-color: var(--first-color);
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer;
    }

        input[type="submit"]:hover {
          background-color: #3a3dffec;
        }
    }
}








/*Section media queries*/
@media screen and (max-width:499px) {
    header{
        .title{
            margin-top: 5rem;
        }
    }
    footer{
        height: 120dvh;
        
    }
}
@media screen and (min-width:500px) {
    header{
        height: 90dvh;
    }
    aside{
        height: 150dvh;
    }
    main{
        height: 100dvh;
    }
    footer{
        height: 120dvh;
    }
}

@media screen and (min-width:768px) {
    header{
        height: 90dvh;
    }
    aside{
        height: 110dvh;
    }
    main{
        height: 100dvh;
    }
}

@media screen and (min-width:1500px){
    
    .title{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(12rem,1fr));
        margin: 1rem;
        padding: 1.3rem;
        height: 85dvh;

        div{
            height: auto;
            h1{
                font-weight: bolder;
                font-size: var(--secfont-size);
                border-bottom: 3px solid black ;
            }
            p{
                font-size: var(--secfont-size);
                margin-top: 2rem;   
            }
        }
    }
}


@media screen and (min-width:1500px){
    header{
        height: 80dvh;
    }
    aside{
        height: 60dvh;
    }
    main{
        height: 60dvh; 
    }
}
